@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<body>
    <p><strong>Effective Date: From 1 August 2023</strong></p>

    <h3>Introduction</h3>
    <p>Welcome to HustlersGaming! This privacy policy aims to inform you of how we collect, use, disclose, and safeguard your personal information while you interact with our website and use our services.</p>

    <h3>Information We Collect</h3>
    <p>We may collect the following types of information when you use our website and services:</p>

    <ul>
        <li>Personal Information:
            <ul>
                <li>Name</li>
                <li>Email address</li>
                <li>Payment information (credit card details, PayPal account, etc.)</li>
            </ul>
        </li>
        <li>Non-Personal Information:
            <ul>
                <li>Browser type and version</li>
                <li>Device type and operating system</li>
                <li>IP address</li>
                <li>Date and time of your visit</li>
                <li>Pages you visit on our website</li>
                <li>Clickstream data</li>
                <li>Other anonymous data related to your browsing activities</li>
            </ul>
        </li>
    </ul>

    <h3>How We Use Your Information</h3>
    <p>We use the collected information for the following purposes:</p>

    <ul>
        <li>Providing and Improving Services:
            <ul>
                <li>Customer support and responding to inquiries</li>
                <li>Personalizing your user experience</li>
                <li>Improving our website's functionality and performance</li>
            </ul>
        </li>
        <li>Marketing and Communication:
            <ul>
                <li>Sending promotional offers, updates, and newsletters (you may opt-out at any time)</li>
                <li>Conducting surveys and analyzing user behavior to improve our offerings</li>
            </ul>
        </li>
        <li>Legal Compliance:
            <ul>
                <li>Complying with applicable laws and regulations</li>
                <li>Enforcing our terms of service and other agreements</li>
            </ul>
        </li>
    </ul>

    <h3>Cookies and Similar Technologies</h3>
    <p>We use cookies and similar technologies to collect non-personal information and enhance your browsing experience.</p>

    <h3>Third-Party Services</h3>
    <p>We may share your information with trusted third-party services to facilitate our operations and provide you with the best experience possible. However, we will never sell, rent, or lease your personal information to any third parties for marketing purposes.</p>

    <h3>Data Security</h3>
    <p>We take data security seriously and implement reasonable security measures to protect your information from unauthorized access, alteration, or disclosure. However, no method of data transmission over the internet or electronic storage is completely secure. We cannot guarantee absolute security.</p>

    <h3>Children's Privacy</h3>
    <p>Our services are not intended for children under the age of 13. If you are a parent or guardian and believe your child has provided us with personal information, please contact us, and we will promptly delete such information from our records.</p>

    <h3>Your Choices and Rights</h3>
    <p>You have the right to access, modify, or delete your personal information. If you wish to exercise these rights or have any questions about your data, please contact us at <a href="mailto:HustlersGaming@email.com">HustlersGaming@email.com</a>.</p>

    <h3>Changes to this Privacy Policy</h3>
    <p>We may update this privacy policy periodically to reflect changes in our practices or for other operational, legal, or regulatory reasons. The revised policy will be posted on this page, and the effective date will be updated accordingly.</p>

    <h3>Contact Us</h3>
    <p>If you have any questions, concerns, or feedback regarding our privacy policy or practices, please contact us at <a href="mailto:HustlersGaming@email.com">HusltersGaming@email.com</a>.</p>

</body>



